@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap');

:root {
    /* Primary color */
    --dark-blue         : hsl(233, 26%, 24%);
    --lime-green        : hsl(136, 65%, 51%);
    --bright-cyan       : hsl(192, 70%, 51%);
    /* Neutral color */
    --grayish-blue      : hsl(233, 8%, 62%);
    --light-grayish-blue: hsl(220, 16%, 96%);
    --very-light-gray   : hsl(0, 0%, 98%);
    --white             : hsl(0, 0%, 100%);

    /* Font-size */
    --font-m: 1.125rem;
    /* = 18px/16 */
    --font-s: 1rem;
    /* = 16px/16 */
}

html {
    box-sizing: border-box;
    font-size : 100%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    min-width  : 375px;
    max-width  : 1440px;
    margin     : 0 auto;
    padding    : 0;
    font-family: 'Public Sans', sans-serif;
    font-size  : var(--font-m);
    font-weight: 300;
    line-height: 1.2;
    color      : var(--light-grayish-blue);
}

a,
a:visited {
    font-size      : var(--font-s);
    font-weight    : 400;
    text-decoration: none;
}

a:focus {
    border: none;
}

.nav {
    display        : flex;
    justify-content: space-between;
    align-items    : center;
    padding        : 1.5rem;
}

.request-invite-button {
    padding      : .875rem 2.1875rem;
    border       : 0;
    border-radius: 50px;
    background   : linear-gradient(to right, var(--lime-green), var(--bright-cyan));
    font-weight  : 700;
    color        : var(--white);
    transition   : opacity .2s ease-in-out;
}

.request-invite-button:hover {
    font-weight: 700;
    color      : var(--white);
    opacity    : .7;
}

.attribution {
    font-size : 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 375px) {
    .hidden-for-mobile {
        display: none;
    }

    .nav-links a {
        color: var(--dark-blue);
    }
}

@media screen and (min-width: 768px) {
    .hidden-for-desktop {
        display: none;
    }

    .hidden-for-mobile {
        display: initial;
    }

    .nav-links a {
        position  : relative;
        color     : var(--grayish-blue);
        transition: color .2s ease-in-out;
    }

    .nav-links a:not(:last-child) {
        margin-right: 30px;
    }

    .nav-links a:hover {
        color: var(--dark-blue);
    }

    .nav-links a::before {
        content   : "";
        position  : absolute;
        right     : 0;
        bottom    : -30px;
        display   : block;
        width     : 100%;
        height    : 5px;
        background: linear-gradient(to right, var(--lime-green), var(--bright-cyan));
        opacity   : 0;
        transition: opacity .2s ease-in-out;
    }

    .nav-links a:hover::before {
        opacity: 1;
    }
}