@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap');

/* Global styles */
:root {
    /* Primary color */
    --dark-blue         : hsl(233, 26%, 24%);
    --lime-green        : hsl(136, 65%, 51%);
    --bright-cyan       : hsl(192, 70%, 51%);
    /* Neutral color */
    --grayish-blue      : hsl(233, 8%, 62%);
    --light-grayish-blue: hsl(220, 16%, 96%);
    --very-light-gray   : hsl(0, 0%, 98%);
    --white             : hsl(0, 0%, 100%);

    /* Font-size */
    --fontsize-1: 2.6874rem;
    /* =43/16px */
    --fontsize-2: 1.875rem;
    /* =30/16px */
    --fontsize-3: 1.123rem;
    /* =18/16px */
    --fontsize-4: 1rem;
    /* =16/16px */
    --fontsize-5: .875rem;
    /* =14/16px */
    --fontsize-6: .75rem;
    /* =12/16px */
    --fontsize-7: .625rem;
    /* =10/16px */
    --fontsize-8: .5rem;
    /* =8/16px */
}

html {
    box-sizing: border-box;
    font-size : 100%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    min-width  : 375px;
    max-width  : 1440px;
    margin     : 0 auto;
    padding    : 0;
    font-family: 'Public Sans', sans-serif;
    font-size  : var(--font-s);
    font-weight: 300;
    line-height: 1.5;
    color      : var(--grayish-blue);
}

a,
a:visited {
    font-weight    : 400;
    text-decoration: none;
}

a:focus {
    border: none;
}

/* Nav */
.header {
    overflow-x: hidden;
}

.logo img {
    display        : flex;
    justify-content: center;
    align-items    : center;
}

.nav {
    min-width      : 375px;
    max-width      : 1440px;
    position       : relative;
    display        : flex;
    justify-content: space-between;
    align-items    : center;
    width          : 100vw;
    padding        : 1.5rem;
    background     : var(--white);
    z-index        : 1;
}

.fixed-nav {
    position: fixed;
    top     : 0;
}

.nav-hamburger-icon,
.nav-close-icon {
    position  : absolute;
    top       : 1.5rem;
    right     : 1.5rem;
    opacity   : 1;
    transition: all .3s ease-in-out;
    cursor    : pointer;
}

.nav-close-icon {
    top  : 1.3rem;
    right: 1.7rem;
}

.hide-nav-icon {
    opacity  : 0;
    transform: scale(0);
}

.overlay-nav-menu {
    display: none;
}

.animation-fade-in {
    animation: fade-in .3s ease-in-out forwards;
}

.animation-fade-out {
    animation: fade-out .3s ease-in-out forwards;
}

.overlay {
    position  : fixed;
    top       : 72px;
    left      : 0;
    width     : 100vw;
    height    : 100vh;
    background: linear-gradient(to bottom, var(--dark-blue), transparent);
    opacity   : .5;
}

.nav-menu {
    position     : absolute;
    left         : 50%;
    padding      : 1rem 0;
    margin       : 0 auto;
    border-radius: 5px;
    display      : block;
    text-align   : center;
    width        : 85%;
    background   : var(--white);
    transform    : translateX(-50%);
}

.nav-menu li,
.footer-menu li {
    padding   : .75rem 0;
    list-style: none;
}

.nav-link {
    color: var(--dark-blue);
}

.nav-link:hover {
    opacity: .7;
}

.request-invite-button {
    padding      : .875rem 2.1875rem;
    border       : 0;
    border-radius: 50px;
    background   : linear-gradient(to right, var(--lime-green), var(--bright-cyan));
    font-weight  : 700;
    color        : var(--white);
    transition   : opacity .2s ease-in-out;
}

.hidden-for-mobile {
    display: none;
}

/* Heading and fontsize */
.heading {
    margin     : 0;
    color      : var(--dark-blue);
    font-weight: 300;
}

h1 {
    font-size  : var(--fontsize-1);
    line-height: 1.15;
}

h2 {
    font-size  : var(--fontsize-2);
    line-height: 1.15;
}

h3 {
    font-size: var(--fontsize-3);
}

h4 {
    font-size: var(--fontsize-5);
}

p {
    font-size: var(--fontsize-4);
}

.section-3 p {
    font-size: var(--fontsize-7);
}

small {
    font-size: var(--fontsize-8);
}

/* Sections */
.container {
    overflow-x: hidden;
}

.section {
    width: 100%;
}

.section-2,
.section-3 {
    padding: 5rem 3rem;
}

/* Section 1 */
.section-1 {
    background: var(--very-light-gray);
}

.background-imgs {
    position           : relative;
    min-height         : 20rem;
    background-image   : url('https://raw.githubusercontent.com/chianglynn/frontendmentor-easybank-landing-page/3727580712bb394a287d8e6a60229dc2108df4eb/images/bg-intro-mobile.svg');
    background-size    : cover;
    background-repeat  : no-repeat;
    background-position: center center;
}

.background-imgs img {
    position : absolute;
    left     : 50%;
    bottom   : -5%;
    width    : 90%;
    transform: translateX(-50%);
}

.introduction {
    padding   : 2rem 3rem 6rem;
    text-align: center;
}

.introduction p {
    padding-bottom: 2rem;
}

/* Section 2 */
.section-2 {
    background: var(--light-grayish-blue);
    text-align: center;
}

.features-container,
.feature {
    display        : flex;
    flex-direction : column;
    justify-content: center;
    align-items    : center;
}

.features-container {
    padding-top: 3rem;
}

.feature:not(:last-child) {
    padding-bottom: 2rem;
}

/* Section 3 */
.section-3 {
    background: var(--very-light-gray);
}

.section-3 h2 {
    padding-bottom: 1rem;
    text-align    : center;
}

.section-3 h4 {
    padding-top: 10px;
}

.articles-container,
.article {
    display        : flex;
    flex-direction : column;
    justify-content: center;
    align-items    : center;
}

.article {
    justify-self: inherit;
}

.article {
    width        : 20.5rem;
    border-radius: 5px;
    background   : var(--white);
}

.content {
    padding: 1rem 2rem 2rem;

}

.article:not(:last-child) {
    margin-bottom: 1rem;
}

.article img {
    width                  : 20.5rem;
    height                 : 12.5rem;
    border-top-left-radius : 5px;
    border-top-right-radius: 5px;
}

/* Footer */
.footer {
    display        : flex;
    flex-direction : column;
    justify-content: center;
    align-items    : center;
    padding        : 2rem 5rem;
    background     : var(--dark-blue);
}

.footer-section-1 .logo img {
    display: block;
    margin : 0 auto;
}

.social-medias-container {
    display        : flex;
    flex-direction : row;
    justify-content: center;
    align-items    : center;
    margin         : 2rem auto 1rem;
}

.social-media:not(:last-child) {
    margin-right: 1rem;
}

.footer-menu {
    display   : block;
    padding   : 0;
    margin    : 0;
    text-align: center;
}

.footer-link {
    color: var(--white);
}

.footer-section-3 {
    display        : flex;
    flex-direction : column;
    justify-content: center;
    align-items    : center;
    margin         : 2rem auto 0;
}

.footer-section-3 .request-invite-button {
    margin-bottom: 1rem;
}

.attribution {
    font-size : 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

/* Animations */
@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

/* Responsive design for mobile device and desktop */
@media screen and (min-width: 768px) {
    .hidden-for-desktop {
        display: none;
    }

    .hidden-for-mobile {
        display: block;
    }

    a {
        font-size: var(--fontsize-7);
    }

    /* Nav */
    .nav {
        justify-content: space-around;
    }

    .overlay-nav-menu {
        display: block;
    }

    .nav-menu {
        position       : inherit;
        display        : flex;
        justify-content: center;
        align-items    : center;
        padding        : 0;
        transform      : translateX(0);
    }

    .nav-menu li {
        padding: 0;
    }

    .nav-menu li:not(:last-child) {
        padding-right: 2rem;
    }

    /* Fontsize*/
    .section-1 p {
        font-size: var(--fontsize-5);
    }

    .section-2 p {
        font-size: var(--fontsize-4);
    }

    .feature p {
        font-size: var(--fontsize-6);
    }

    .section-1 p {
        font-size: var(--fontsize-5);
    }

    .section-3 p {
        font-size: var(--fontsize-7);
    }

    /* Section 1 */
    .section-1 {
        display       : flex;
        flex-direction: row-reverse;
        align-items   : center;
    }

    .background-imgs {
        flex               : 3;
        min-height         : 38rem;
        background-image   : url('https://raw.githubusercontent.com/chianglynn/frontendmentor-easybank-landing-page/3727580712bb394a287d8e6a60229dc2108df4eb/images/bg-intro-desktop.svg');
        background-size    : 160%;
        background-position: left center;
    }

    .background-imgs img {
        left : 65%;
        top  : -10%;
        width: 95%;
    }

    .introduction {
        flex      : 2;
        text-align: left;
        padding   : 2rem 2rem 6rem 9rem;
    }

    /* Section 2 & 3 */
    .section-2,
    .section-3 {
        text-align: left;
        padding   : 7rem 9rem;
    }

    .features-container {
        flex-direction : row;
        flex-wrap      : wrap;
        justify-content: space-between;
        align-items    : center;
    }

    .feature {
        justify-content: start;
        align-items    : flex-start;
        width          : 16rem;
        height         : 16.75rem;
    }

    .feature:not(:last-child) {
        padding: 0 2rem 0 0;
    }

    .section-3 h2 {
        text-align: left;
    }

    .articles-container {
        flex-direction: row;
        flex-wrap     : wrap;
    }

    .article {
        width : 15.875rem;
        margin: 1rem;
    }

    .content {
        padding: 1rem;
    }

    .article img {
        width                  : 15.875rem;
        height                 : 12.5rem;
        border-top-left-radius : 5px;
        border-top-right-radius: 5px;
    }

    /* Footer */
    .footer {
        flex-direction: row;
        padding       : 2rem 9rem;
    }

    .footer-section-1 {
        flex           : 1;
        display        : flex;
        flex-direction : column;
        justify-content: space-around;
        align-items    : flex-start;
        margin-top     : .5rem;
    }

    .social-medias-container {
        margin: 2.5rem 0 0;
    }

    .footer-menu {
        flex           : 1;
        display        : flex;
        flex-direction : row;
        justify-content: space-around;
        align-items    : flex-start;
    }

    .footer-menu li {
        padding   : 0;
        text-align: left;
    }

    .group-1 li:not(:last-child),
    .group-2 li:not(:last-child) {
        margin-bottom: .5rem;
    }

    .footer-section-3 {
        flex           : 2;
        display        : flex;
        flex-direction : column;
        justify-content: space-around;
        align-items    : flex-end;
        margin         : 0;
    }

    .footer-section-3 p {
        margin    : 0;
        text-align: right;
    }
}